@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent: #efb74a;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    padding: 30px;
    background-color: var(--accent);
}

.checkout {
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    background-color: white;
    display: flex;
    margin: 30px auto;
    width: 60%;
    border: solid 1px black;
    border-radius: 8px;
    overflow: hidden;
}

img {
    width: 300px;
}

.name-cart {
    display: flex;
    margin-left: 30px;
    font-size: 36px;
}

.price-cart {
    position: absolute;
    bottom: 15px;
    left: 330px;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: all 0.3s ease;
}

a:hover {
    transform: scale(1.10);
}

.co-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.co-button button {
    padding: 10px 40px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 600s;
    transition: all .2s ease;
}

.co-button button:hover {
    cursor: pointer;
    scale: 1.20;
}